.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #053c5e;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(19, 63, 125, 0.1);
  text-align: center;
  background: #f1f5f8;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #1f3757;
  border-radius: 5px;
}

.auth-container button {
  background-color: #1360b3;
  color: rgb(247, 242, 242);
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #247ad6;
  color: black;
}

.auth-container p {
  margin-top: 10px;
  font-size: 14px;
}

.auth-container p span {
  color: #f61505;
  cursor: pointer;
  text-decoration: underline;
}
