/* .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f3f4f6;
    padding: 2rem;
  }
  
  form {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  form h1 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  form input {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    width: 100%;
  }
   */