



body {
  background-color: #faf8f8;
  justify-content: center;
  min-height: 0vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hero-section {
  
  background-image: url('../assets/hero6.jpg');
  background-size: cover;
  
  padding: 150px 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat; 
  
}


.hero-content {
   
  padding: 2px;
  max-width: 600px;
  background: rgba(195, 220, 232, 0.6); 
  border-radius: 25px;
  box-shadow: 10px 2px 8px rgba(182, 225, 250, 0.6);
  }


  .hero-content h1  {
   
    font-size: 40px;
    line-height: 1.8;
    padding: 25px;
    transition: all 0.3s ease;
    
    font-family: serif;
    color: #383838;
    
    

  }
  .hero-content h1:hover{
    color: #ed6226;
    transform: scale(1.05);
   }


.search-bar {
  position: relative;
  width:500px;
  border-radius: 50px;
  background: rgb(249, 248, 248);
 
  box-shadow: 9px 1px 10px rgba(247, 249, 250, 0.6);
  
 
  
}

.search-bar :hover{
  color: #383838;
 
}


.search-input {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  outline: none;
  padding-right: 50px; 
  border-radius: 50px; 
 
}

.search-icon {
  
  transform: translateY(-50%);
  right: -70px; 
  top: 50%;
  position: absolute;
  padding: 15px;
 
  color: #f3ecec;
  background-color: #ed6226; 
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

}

