.planning-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#bbbbbc  ;
  border-radius: 40px;
  margin: 4rem auto;
  max-width: 1300px;
  padding: 20px;
  color: #0a0a0a;

   /* Slight dark overlay for better text visibility */
  border-radius: 8px;
  box-shadow: 1px 3px 9px #124e4e;
  
}

.planning-content {
  flex: 1;
}



.planning-content p {
  font-size: 19px;
  margin: 3rem 0;
  font-weight: bold;
  
  
}

.see-more-btn {
  /* background-color: #FF3131;
  color: #080808;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: serif; */
  margin: 30px;
   
  padding: 10px;
  background-color:#ff3131;
  color: #0e0e0e;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-family: serif;
 
}

.see-more-btn:hover {
 
  color: white;

}

.planning-image img {

  max-width: 400px;
  border-radius: 90px;

}
