



.why-choose {
  text-align: center;
 padding: 15px;
  margin-top: 1rem;
  
  background: #fbf9f9; /* Slight dark overlay for better text visibility */
  border-radius: 8px;
  box-shadow:  1px 3px 9px #124e4e;
  
}

.why-choose h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1.5rem;
  text-align: left;

}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 11rem;
}

.feature {
  max-width: 240px;
  padding: 1rem;

  text-align: center;
  
}


.feature h3 {

  color: #000000;
  margin: 0.1rem 0;
}

.feature p {
  font-size: 0.9rem;
  color: #555;

 

}
