.trending-destinations{
  padding: 20px;
  text-align: left;
  margin-top: 40px;

}
.cards{
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 50px;
}


.card {
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.card:hover{
  transform: translateY(-5px);
}

.card img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  
}
.card h3 {
  margin: 0.5rem 0;
}

.see-more-container {

  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Centers content vertically if necessary */
  margin-top: 20px;
}

.see-more {
  background-color: #ed6226;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.see-more:hover {
  background-color: #e2988b;
  transform: scale(0.95);
}








h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}






.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


.card h3 {
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}




.tours-section {
  padding: 20px;
}

.tours-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.tour-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.tour-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.tour-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.tour-card h4 {
  font-size: 1.4rem;
  margin: 10px 0;
}

.tour-card p {
  font-size: 1rem;
  color: gray;
}

.tour-card button {
  background-color: #ed6226;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.tour-card button:hover {
  background-color:#e2988b;
  color: black;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background-color: #ed6226;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #e2988b;
  color: rgb(9, 9, 9);
}

.pagination button.active {
  background-color:  #ed6226;
  color: white;
}


.back-button {
  background-color: #ed6226;
  color: #f0e6e6;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 20px auto;
}

.back-button:hover {
  background-color: #e2988b;
  color: black;
}




